Repository nito-tech/nito: changes, and which lefthook commands are due for each by the changed paths.
All: format, check

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

check:
  run: pnpm check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

fix: Fix getOrganizationBySlug
  apps/web/src/app/dashboard/[organizationSlug]/page.tsx
  apps/web/src/entities/organization/api/organizations.ts
  apps/web/src/features/organizations/ui/organization-member-list/organization-member-list.tsx
  apps/web/src/features/project/ui/create-project-form/create-project-form.tsx
Due: format, check

fix: Fix createProject()
  apps/web/src/entities/project/api/projects.ts
  apps/web/src/entities/project/model/project-store.ts
  apps/web/src/features/project/model/useProject.tsx
  apps/web/src/features/project/ui/create-project-form/create-project-form.tsx
Due: format, check

fix: Fix getProfile()
  apps/web/src/entities/profile/api/profile.ts
  apps/web/src/features/user/ui/profile-controler/profile-controler.tsx
  apps/web/src/shared/contexts/ProfileContext.tsx
  apps/web/src/widgets/header/ui/header.tsx
Due: format, check

fix: Fix getOrganizationMembers()
  apps/web/src/entities/organization/api/organizations.ts
  apps/web/src/features/organizations/model/useOrganization.ts
  apps/web/src/features/organizations/ui/organization-member-list/organization-member-list.tsx
Due: format, check

fix: Fix updateOrganization()
  apps/web/src/entities/organization/api/organizations.ts
  apps/web/src/features/organization-create/ui/update-organization-name-form.tsx
  apps/web/src/features/organizations/model/useOrganization.ts
Due: format, check

fix: Fix getProjectByName()
  apps/web/src/app/dashboard/[organizationSlug]/projects/[projectName]/page.tsx
  apps/web/src/entities/project/api/projects.ts
Due: format, check

fix: Fix getProjectMembers()
  apps/web/src/entities/project/api/get-project.ts
  apps/web/src/entities/project/api/projects.ts
  apps/web/src/features/project/model/useProject.tsx
  apps/web/src/features/project/ui/project-member-table/project-member-table.tsx
Due: format, check

feat(lang): Update message files
  apps/web/src/shared/i18n/messages/en.json
  apps/web/src/shared/i18n/messages/ja.json
Due: format

fix: Fix a bug that data in the project and project_members tables increased each time `pnpm seed`
  packages/db/src/seed/seed.ts
Due: format, check

fix: Fix header selector
  apps/web/src/features/organizations/model/useOrganization.ts
  apps/web/src/features/organizations/ui/organization-selector/organization-selector.tsx
  apps/web/src/features/project/model/useProject.tsx
  apps/web/src/features/project/ui/projector-selector/project-selector.tsx
  apps/web/src/shared/lib/reqct-query.ts
Due: format, check

fix(db): Update tsconfig.json to include all TypeScript files
  packages/db/tsconfig.json
Due: format

fix: Fix errors that caused redirect to fail
  apps/web/src/entities/organization/api/organizations.ts
Due: format, check

fix: Organizations get only those to which the user belongs as a member
  apps/web/src/entities/organization/api/organizations.ts
Due: format, check

docs(db): Add README
  packages/db/src/README.md
Due: format

fix: Fix web app build bug
  apps/web/src/app/dashboard/account/me/page.tsx
  apps/web/src/features/organizations/ui/organization-list/organization-list.tsx
  apps/web/src/features/project/ui/project-data-table/project-data-table.tsx
  apps/web/src/features/sidebar/ui/sidebar-user-profile.tsx
Due: format, check

fix: Updated Github Actions with addition of package/db
  .github/workflows/e2e-test-on-preview.yml
  .github/workflows/run-migration-and-reset-db-on-preview.yml
  packages/db/drizzle.config.ts
  packages/db/package.json
  packages/db/src/index.ts
Due: format, check

fix: Update Vercel environment configuration in GitHub Actions
  .github/workflows/e2e-test-on-preview.yml
  .github/workflows/run-migration-and-reset-db-on-preview.yml
  .github/workflows/run-migration-to-production.yml
Due: none

fix: Fix GitHub Actions
  .github/workflows/run-migration-and-reset-db-on-preview.yml
Due: none

docs: Update README
  README.md
  apps/web/README.md
Due: format

fix(db): Update migration files output path
  packages/db/drizzle.config.ts
  packages/db/supabase/migrations/20250419081716_init.sql
  packages/db/supabase/migrations/meta/20250419081716_snapshot.json
  packages/db/supabase/migrations/meta/_journal.json
Due: format, check

fix(db): Update organization and project member policies to use profile_id instead of user_id
  packages/db/src/schema/organization_members.ts
  packages/db/src/schema/organizations.ts
  packages/db/src/schema/project_members.ts
  packages/db/src/schema/projects.ts
  packages/db/supabase/migrations/20250419090656_init.sql
  packages/db/supabase/migrations/meta/20250419090656_snapshot.json
  packages/db/supabase/migrations/meta/_journal.json
Due: format, check

refactor: Remove supabase schema file
  apps/web/package.json
  apps/web/src/entities/project/api/projects.ts
  apps/web/src/features/organization-create/ui/update-organization-slug-form.tsx
  apps/web/src/features/organizations/model/useOrganization.mock.ts
  apps/web/src/features/project/ui/project-member-table/project-member-table.tsx
  apps/web/src/shared/_schema.ts
  apps/web/src/shared/lib/query-keys.ts
  apps/web/src/shared/schema.ts
Due: format, check

refactor: Remove Supabase configuration and related files
  apps/web/supabase/.gitignore
  apps/web/supabase/README.md
  apps/web/supabase/config.toml
Due: format

feat(db): Add dotenv dependency and load environment variables
  apps/web/README.md
  packages/db/.gitignore
  packages/db/package.json
  packages/db/src/index.ts
  pnpm-lock.yaml
Due: format, check

fix: Updated to include fixed seed data
  packages/db/src/seed/seed.ts
Due: format, check

refactor(auth): Simplify organization data handling in EmailLogInForm
  apps/web/src/features/auth/ui/email-login-form.tsx
Due: format, check

refactor(api): Improve organization retrieval logic to handle unauthenticated users
  apps/web/src/entities/organization/api/organizations.ts
Due: format, check

fix(e2e): Update dashboard URL references from Google to Apple
  apps/web/e2e/PublicHeader.spec.ts
  apps/web/e2e/login.spec.ts
  apps/web/e2e/middleware.spec.ts
  apps/web/e2e/utils.ts
Due: format, check

fix: Fix a bug that prevented redirection from /dashboard
  apps/web/src/app/dashboard/page.tsx
Due: format, check

fix(e2e): Correct dashboard URL in login test from Google to Apple
  apps/web/e2e/auth.setup.ts
Due: format, check

refactor: Add seed data step
  .github/workflows/run-migration-and-reset-db-on-preview.yml
  packages/db/src/README.md
  packages/db/src/index.ts
  packages/db/supabase/seed.sql
Due: format, check

chore: Debug
  apps/web/src/features/auth/api/log-in-with-email.ts
  apps/web/src/shared/lib/supabase/server.ts
Due: format, check

Path conditions:
  format: any of: **/*.{js,jsx,ts,tsx,json,css,md}
  check: any of: **/*.{js,jsx,ts,tsx}
