Repository nito-tech/nito: changes, and which lefthook commands are due for each by the changed paths.
All: format, check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "**/*.{js,jsx,ts,tsx,json,css,md}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true
    check:
      glob: "**/*.{js,jsx,ts,tsx}"
      run: pnpm check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true

commit-msg:
  parallel: false
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

fix: Update GitHub Actions in production env for monorepo structure
  .github/workflows/run-migration-to-production.yml
Due: none

chore: Add biome to apps/docs
  apps/docs/biome.jsonc
  apps/docs/lefthook.yml
  apps/docs/mdx-components.js
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/src/app/_ignored/_meta.js
  apps/docs/src/app/_meta.js
  apps/docs/src/app/blog/page.jsx
  apps/docs/src/app/docs/[[...mdxPath]]/page.jsx
  apps/docs/src/app/layout.jsx
  apps/docs/src/app/page.jsx
  apps/docs/src/app/showcase/(overview)/page.jsx
  apps/docs/src/content/_meta.js
  apps/docs/src/content/features/_meta.js
  apps/docs/src/content/themes/_meta.js
  apps/docs/src/content/themes/blog/_meta.js
  apps/docs/src/content/themes/docs/_meta.js
  biome.jsonc
  package.json
  pnpm-lock.yaml
Due: format, check

fix: Revert `apps/web/package.json`
  apps/web/package.json
  pnpm-lock.yaml
Due: format

chore: Update test command in package.json and Storybook workflow
  .github/workflows/storybook.yml
  apps/web/src/shared/ui/notice/notice.stories.tsx
Due: format, check

fix: Update alert color
  .github/workflows/storybook.yml
  apps/web/src/app/globals.css
  apps/web/src/shared/ui/alert.tsx
  apps/web/src/shared/ui/notice/notice.stories.tsx
  apps/web/src/shared/ui/notice/notice.tsx
Due: format, check

fix: Excude notice story to resolve Vitest bug
  apps/web/src/shared/ui/notice/notice.stories.tsx
  apps/web/vitest.workspace.mts
Due: format, check

chore: Comment out pull request triggers in Storybook workflow
  .github/workflows/storybook.yml
  apps/web/vitest.workspace.mts
Due: none

feat: Update docs top page
  apps/docs/icon/github.svg
  apps/docs/src/app/_meta.js
  apps/docs/src/app/layout.jsx
Due: format, check

chore: Add Markdown extension to VSCode configuration
  .vscode/extensions.json
Due: format

chore: Add check for changes in apps/web before running migrations and e2e
  .github/workflows/run-migration-and-reset-db-on-preview.yml
Due: none

feat(docs): Add separator in docs sidebar
  apps/docs/src/content/_meta.js
  apps/docs/src/content/architecture/_meta.js
  apps/docs/src/content/architecture/architecture.mdx
  apps/docs/src/content/index.mdx
Due: format, check

feat(docs): Add schema documentation for Organization
  apps/docs/src/content/schema/_meta.js
  apps/docs/src/content/schema/organization.mdx
  apps/docs/src/content/schema/top.mdx
Due: format, check

feat: Implement ProjectNameField component
  apps/web/src/entities/project/model/project-name-scheama.ts
  apps/web/src/entities/project/ui/project-name-field/project-name-field.stories.tsx
  apps/web/src/entities/project/ui/project-name-field/project-name-field.tsx
  apps/web/src/shared/i18n/messages/en.json
  apps/web/src/shared/i18n/messages/ja.json
Due: format, check

feat: Add project creation functionality and new project page
  apps/web/src/app/dashboard/[organizationSlug]/new/page.tsx
  apps/web/src/app/dashboard/[organizationSlug]/page.tsx
  apps/web/src/entities/project/api/projects.ts
  apps/web/src/features/project/model/create-project-schema.ts
  apps/web/src/features/project/model/useProject.tsx
  apps/web/src/features/project/ui/create-project-form/create-project-form.tsx
  apps/web/supabase/migrations/20240321000003_create_project_members.sql
Due: format, check

refactor: Update useCreateOrganization to require mutationConfig type
  apps/web/src/features/organization-create/api/useCreateOrganization.ts
Due: format, check

CircleCI Commit
  .circleci/config.yml
Due: none

feat: Add project members link to header links
  apps/web/src/shared/i18n/messages/en.json
  apps/web/src/shared/i18n/messages/ja.json
  apps/web/src/widgets/header/ui/header.tsx
Due: format, check

refactor: Rename file
  apps/web/src/app/dashboard/[organizationSlug]/members/page.tsx
  apps/web/src/features/organizations/ui/organization-member-list/organization-member-list.tsx
Due: format, check

feat: Update scheam and dd project_members
  apps/web/src/shared/_schema.ts
  apps/web/src/shared/schema.ts
Due: format, check

feat: Update query keys
  apps/web/src/shared/lib/query-keys.ts
Due: format, check

feat: WIP Add Project Members Page and Member Table Component
  apps/web/src/app/dashboard/[organizationSlug]/projects/[projectName]/members/page.tsx
  apps/web/src/entities/project/api/get-project.ts
  apps/web/src/features/project/model/useProject.tsx
  apps/web/src/features/project/ui/project-member-table/project-member-table.tsx
Due: format, check

fix: Fix type error
  apps/web/src/features/organization-create/api/useCreateOrganization.ts
Due: format, check

fix: Fix biome lint error
  apps/web/src/features/project/ui/project-member-table/project-member-table.tsx
Due: format, check

chore(deps): Change dependabot update schedule from daily to weekly
  .github/dependabot.yml
Due: none

chore(deps): Add drizzle packages
  apps/web/package.json
  pnpm-lock.yaml
Due: format

feat(db): Add users table by drrizle
  apps/web/db/index.ts
  apps/web/db/migrations/0000_perfect_starfox.sql
  apps/web/db/migrations/meta/_journal.json
  apps/web/db/schema/users.ts
  apps/web/drizzle.config.ts
  apps/web/src/shared/config/env.ts
Due: format, check

feat(db): Create table schema using drizzle
  apps/web/db/schema/accounts.ts
  apps/web/db/schema/organization_members.ts
  apps/web/db/schema/organizations.ts
  apps/web/db/schema/project_members.ts
  apps/web/db/schema/projects.ts
  apps/web/db/schema/sessions.ts
  apps/web/db/schema/users.ts
  apps/web/db/schema/verification_tokens.ts
Due: format, check

feat: Update drizzle migration file prefix
  apps/web/drizzle.config.ts
Due: format, check

feat: Update db schema
  apps/web/db/_init.sql
  apps/web/db/index.ts
  apps/web/db/migrations/0000_perfect_starfox.sql
  apps/web/db/migrations/20250416091155_init.sql
  apps/web/db/schema/_utils.ts
  apps/web/db/schema/accounts.ts
  apps/web/db/schema/index.ts
  apps/web/db/schema/organization_members.ts
  apps/web/db/schema/organizations.ts
  apps/web/db/schema/profiles.ts
  apps/web/db/schema/project_members.ts
  apps/web/db/schema/projects.ts
  apps/web/db/schema/sessions.ts
  apps/web/db/schema/verification_tokens.ts
  apps/web/db/seed/seed.ts
Due: format, check

feat: Add organization_members seed
  apps/web/db/migrations/20250416091155_init.sql
  apps/web/db/schema/organization_members.ts
  apps/web/db/seed/seed.ts
Due: format, check

feat: Add projects seed
  apps/web/db/migrations/20250416105804_init.sql
  apps/web/db/migrations/meta/20250416105804_snapshot.json
  apps/web/db/migrations/meta/_journal.json
  apps/web/db/schema/organization_members.ts
  apps/web/db/schema/projects.ts
  apps/web/db/seed/seed.ts
Due: format, check

fix: Fix organization_member role seed
  apps/web/db/schema/project_members.ts
  apps/web/db/seed/seed.ts
Due: format, check

feat: Add project_members seed
  apps/web/db/schema/organization_members.ts
  apps/web/db/schema/organizations.ts
  apps/web/db/schema/profiles.ts
  apps/web/db/schema/project_members.ts
  apps/web/db/schema/projects.ts
  apps/web/db/seed/seed.ts
Due: format, check

chore: Delete migration fand seed files written by sql
  apps/web/supabase/migrations/20240320000000_create_profiles.sql
  apps/web/supabase/migrations/20240320000001_create_organizations.sql
  apps/web/supabase/migrations/20240321000001_create_members.sql
  apps/web/supabase/migrations/20240321000002_create_projects.sql
  apps/web/supabase/migrations/20240321000003_create_project_members.sql
  apps/web/supabase/seed.sql
Due: none

feat: Move from apps/web/db to packages/db
  apps/web/db/index.ts
  package.json
  packages/db/.gitignore
  packages/db/drizzle.config.ts
  packages/db/package.json
  packages/db/src/_init.sql
  packages/db/src/index.ts
  packages/db/src/migrations/20250416105804_init.sql
  packages/db/src/migrations/meta/20250416105804_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema/_utils.ts
  packages/db/src/schema/index.ts
  packages/db/src/schema/organization_members.ts
  packages/db/src/schema/organizations.ts
  packages/db/src/schema/profiles.ts
  packages/db/src/schema/project_members.ts
  packages/db/src/schema/projects.ts
  packages/db/src/seed/seed.ts
  packages/db/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, check

fix: Update auth.users seed data
  packages/db/src/seed/seed.ts
Due: format, check

chore(deps): Remove unused tsx dependency
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  pnpm-lock.yaml
Due: format

fix: Fix getOrganizations()
  apps/web/src/entities/organization/api/organizations.ts
  apps/web/src/entities/organization/model/organization-store.ts
  apps/web/src/features/auth/ui/email-login-form.tsx
Due: format, check

fix: Fix getProjects()
  apps/web/src/entities/project/api/projects.ts
  apps/web/src/features/project/model/useProject.tsx
  apps/web/src/features/project/ui/project-data-table/project-data-table.tsx
Due: format, check
